<h2>Reset password</h2>
<p>Please enter your email. We will send your new password to your email.</p>

<form #passwordResetForm="ngForm" (ngSubmit)="onSubmit()">
  <div *ngIf='message' class="alert alert-danger">
    {{message}}
  </div>

  <div class="form-group">
    <input type="email" id="email" class="form-control" required [(ngModel)]="user.email" email="true" name="email" #email="ngModel">
  </div>
  <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger">
    <div *ngIf="email.errors.required">
      Email is required.
    </div>
    <div *ngIf="email.errors.email && !email.errors.required">
      Invalid email.
    </div>
  </div>
  <button type="submit" [disabled]="!passwordResetForm.form.valid">Submit</button>
</form>